/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2016-12-11, 16:22:37
    Author     : hxy_zuki
*/

.navbar-right-me {
    float: right!important;
    margin-right: 0px;
}

#submit_icon {
    position: relative;
    margin-top: 50px;
    margin-left: 750px;
}

.input-group .form-control-me {
    position: relative;
    z-index: 2;
    float: left;
    width: 300px;
    height: 34px;
    margin-bottom: 0;
}

#search_btn {
    margin-left: 10px;
}
