/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2016-12-10, 18:38:16
    Author     : hxy_zuki
*/

.teacher_content {
    display: inline-block; 
    margin-top: 5%
}

#log_out.text{ text-align:center; } 

#right_div { 
    position: absolute; 
    margin-left: 235px; 
    width: 900px; 
    border-style: solid; 
    border-width: 2px; 
    border-color: #428bca;
}
#left_div { 
    position: absolute; 
    width: 200px; 
    margin-left: 25px;
}

.navbar-right-me {
    float: right!important;
    margin-right: 0px;
}

.info {padding: 5px;}

#log_out {margin-right: 10px;}

#add_user {
    position: relative;
    margin-left: 750px;
    margin-top: 0px;
}

#submit_user {
    position: relative;
    margin-top: 50px;
    margin-left: 750px;
}

span.delete_user{
    margin-left: 10px;
}

.input-group .form-control-me {
    position: relative;
    z-index: 2;
    float: left;
    width: 300px;
    height: 34px;
    margin-bottom: 0;
}

.inner {
    padding: 25px;
}

#search_btn {
    margin-left: 10px;
}